In [4]:
import pandas as pd
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [5]:
dataset = pd.read_csv('IMDB Dataset.csv')

In [6]:
dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [7]:
pos = dataset[dataset['sentiment']=='positive']
neg = dataset[dataset['sentiment']=='negative']

In [8]:
pos.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive

In [9]:
data = pos.iloc[:5000]

In [10]:
data = pd.concat([data, neg[:5000]], ignore_index=True)

In [11]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Petter Mattei's "Love in the Time of Money" is...  positive
4  Probably my all-time favorite movie, a story o...  positive

In [12]:
data.shape

(10000, 2)

In [15]:
import random
data = data.sample(frac = 1)

In [16]:
data.reset_index(inplace=True)

In [17]:
data.drop(['index'], inplace=True, axis=1)

In [18]:
data.head()

                                              review sentiment
0  Enough is enough...sometimes they just need to...  negative
1  as a 'physically challenged' person (god, how ...  positive
2  I hate to say it, but I really do think this o...  positive
3  This is an excellent Anderson production worth...  positive
4  I didn't expect much when I rented this movie ...  positive

In [19]:
doc = []

for i,j in zip(data['review'],data['sentiment']):
    word = nltk.word_tokenize(i)
    doc.append((word, j))
    
print(doc[0])

(['Enough', 'is', 'enough', '...', 'sometimes', 'they', 'just', 'need', 'to', 'stop', 'making', 'movies', 'based', 'on', 'a', 'concept', 'that', 'is', 'long', 'dead', '.', 'The', 'first', 'Tremors', 'movie', 'was', 'great', '.', 'The', 'second', 'one', 'was', 'ridiculous', '.', 'The', 'third', 'one', 'was', 'nauseating', '.', 'The', 'tv', 'series', 'was', 'depressingly', 'awful', '.', 'And', 'this', 'movie', 'just', 'drives', 'the', 'stake', 'deeper.', '<', 'br', '/', '>', '<', 'br', '/', '>', 'Basically', 'another', 'excuse', 'for', 'cheap', 'computer', 'effects', 'and', 'puppetry', ',', 'now', 'we', 'have', 'the', 'series', 'set', 'in', 'the', 'Wild', 'West', ',', 'in', 'the', '1800', "'s", ',', 'and', 'they', 'fight', 'graboids', '.', 'Like', 'a', 'rehash', 'of', 'the', 'first', 'one', ',', 'they', 'have', 'to', 'learn', 'how', 'to', 'beat', 'them', 'all', 'over', 'again', '.', 'Mildly', 'entertaining', 'I', 'suppose', '.', 'Otherwise', 'this', 'straight-to-video', 'release', ',', 'just', 'like', 'Tremors', '2', 'and', '3', ',', 'is', 'just', 'going', 'way', 'too', 'far', '.', 'Oh', 'and', 'I', 'continue', 'to', 'wonder', 'how', 'there', 'is', 'never', 'any', 'record', 'of', 'these', 'events', 'taking', 'place', '...', 'did', 'they', 'just', 'simply', 'forget', 'to', 'record', 'this', 'unprecedented', 'event', '?', 'I', 'think', 'something', 'like', 'this', 'would', 'be', 'history-making', ',', 'so', 'our', 'pals', 'in', 'the', 'first', 'film', 'would', "n't", 'be', 'so', 'unprepared', '.', '<', 'br', '/', '>', '<', 'br', '/', '>', 'Movies', 'like', 'this', 'that', 'ruin', 'the', 'original', 'just', 'make', 'me', 'crazy', '.', 'Avoid', 'this', 'garbage', '.'], 'negative')

In [20]:
words = []
for i in data['review']:
        for a in (nltk.word_tokenize(i)):
            words.append(a.lower())

In [21]:
words[:10]

['enough',
 'is',
 'enough',
 '...',
 'sometimes',
 'they',
 'just',
 'need',
 'to',
 'stop']

In [22]:
from nltk.corpus import stopwords
stopwords_english = stopwords.words('english')

import string

In [23]:
clean_words = []
for word in words:
    if word not in stopwords_english and word not in string.punctuation:
        clean_words.append(word)

clean_words[:10]

['enough',
 'enough',
 '...',
 'sometimes',
 'need',
 'stop',
 'making',
 'movies',
 'based',
 'concept']

In [24]:
len(clean_words)

1305249

In [25]:
from nltk import FreqDist
freq = FreqDist(clean_words)

In [26]:
len(freq)

71434

In [27]:
most_common = freq.most_common(4000)
word_features = [item[0] for item in most_common]

In [28]:
def feature(document):
    doc = set(document)
    
    feature = {}
    
    for word in word_features:
        feature['contains(%s)' % word] = (word in doc)
        
    return feature

In [29]:
feature_set = [(feature(doc), category) for (doc, category) in doc]

In [30]:
len(feature_set)

10000

In [31]:
train = feature_set[:7001]
test = feature_set[7001:]

In [32]:
from nltk import NaiveBayesClassifier
classifier = NaiveBayesClassifier.train(train)

In [33]:
from nltk import classify 
 
accuracy = classify.accuracy(classifier, test)
print (accuracy)

0.8526175391797266